.projects {
    @include padding-section;
    text-align: center;
    background-color: $bg-secondary;

    .project-preview {
        width: 350px;
        height: 200px;
        overflow: hidden;
        position: relative;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;

        img {
            width: 100%;
            height: auto;
            animation: scrollAnimation 10s linear infinite;
        }
    }
    
    @keyframes scrollAnimation {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-80%);
        }
    }

    &__container {
        margin: $gap-3 0px;

        &-card {
            border: 1px solid #e51d37;
            background-color: $bg-main;
            height: auto;
            margin-top: $gap-4;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;     

            &:hover {
                border: 1px solid #e51d37;
            }

            a {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: -7px;
                    left: 0;
                    transform-origin: bottom right;
                    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}