.skills {
    padding: $gap-8 $gap-0;
    background-color: $bg-main;

    .swiper-wrapper {
        transition-timing-function: linear!important;
    }

    &__container {
        margin-top: $gap-4;
        overflow: hidden;
        position: relative;
        width: 100%;

        &-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 130px;
            background-color: $bg-secondary;
            position: relative;
            border: 1px solid $bg-border;
            border-radius: 4px;
            transition: 1s all ease;

            &:hover {
                border: 1px solid $color-main;
            }

            img {
                max-width: 55px;
                max-height: 55px;

            }

            @include mobile {
                width: 40%;
            }
        }
    }
}
