.skills {
    padding: $gap-8 $gap-0;
    background-color: $bg-main;
    @include padding-section;

    &__container {
        margin-top: $gap-4;
        display: grid;
        grid-template-columns: 1fr repeat(7, 1fr);
        gap: 20px;

        @include tablet {
            grid-template-columns: 1fr repeat(3, 1fr);
        }

        @include mobile {
            grid-template-columns: 1fr 1fr;
        }

        &-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 130px;
            background-color: $bg-secondary;
            position: relative;
            border: 1px solid $bg-border;
            border-radius: 4px;
            transition: 1s all ease;

            &:hover {
                border: 1px solid $color-main;
            }

            img {
                max-width: 55px;
                max-height: 55px;

            }
        }
    }
}